target/
bin/
out/
*.class
*.jar
*.war
*.ear
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
# NetBeans / Others
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
*.log
logs/
/log
tmp/
system/fxgl.bundle
*.txt
/.vscode
nbactions.xml
nbactions.xml
docs/layout.fxml
docs/codebase.java
docs/layout.java
