target/
*.class
*.jar
*.war
*.ear
*.log
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.DS_Store
Thumbs.db
*.txt
system/fxgl.bundle
/log
