.root {
  -white: #ecf0f1;

  -primary-dark: #2b2b2b;
  -border-dark: #666666;

  -accent: #3498db;
  -accent-darken: #2980b9;
  -accent-border: #1f6391;

  -warn: #e74c3c;
  -warn-darken: #c0392b;

  -transparent: rgba(0, 0, 0, 0);
}

/* LAYOUT */
.stack-pane,
.main,
.root {
  -fx-background-color: -primary-dark;
}

/* BASIC WIDGET */
.label {
  -fx-text-fill: -white;
}

.button {
  -fx-background-color: #4a4a4a;
  -fx-text-fill: -white;
  -fx-border-color: #666666;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.button:hover {
  -fx-background-color: #5a5a5a;
}

.button:disabled {
  -fx-background-color: #2a2a2a;
  -fx-text-fill: #888888;
}

.btn-active {
  -fx-background-color: -accent;
  -fx-text-fill: -white;
  -fx-border-color: -transparent;
}

.btn-active:hover {
  -fx-background-color: -accent-darken;
  -fx-text-fill: -white;
  -fx-border-color: -transparent;
}

.btn-setting {
  -fx-graphic: url("../icons/setting_icon.png");
}

.btn-warn {
  -fx-background-color: -warn;
  -fx-text-fill: -white;
  -fx-border-color: rgba(255, 255, 255, 0);
}

.btn-warn:hover {
  -fx-background-color: -warn-darken;
  -fx-text-fill: -white;
  -fx-border-color: rgba(255, 255, 255, 0);
}
